.cart-container {
  padding: 30px;
  font-family: sans-serif;
  gap: 20px;
}

.left-section {
  flex: 2;
}

.right-section {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.coupon-box {
  background: white;
  padding: 20px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.coupon-icon {
  border: 2px solid black;
  border-radius: 50%;
  padding: 8px 12px;
}


.cart-item {
  background: white;
  display: flex;
  padding: 20px;
  border-radius: 8px;
  gap: 20px;
  align-items: flex-start;
}

.product-image {
  width: 140px;
}

.item-details {
  flex: 2;
}

.item-price {
  text-align: right;
}

.item-price h2 {
  margin: 0;
}

.strike {
  text-decoration: line-through;
  color: rgb(23, 22, 22);
}

.save {
  color: #121212;

}

/* .rating {
  color: teal;
  margin: 5px 0;
  border: 5px solid red;
} */

.action-buttons {
  margin-top: 10px;
}

.action-buttons button {
  padding: 8px 16px;
  margin-right: 10px;
  border: 1px solid #000;
  background: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.remove-btn {
  background-color: #eee;
}

.price-summary {
  margin: 20px 0;
}

.row {
  display: flex;
  padding: 8px 0;
}

.checkout-btn {
  background-color: #00db9a;
  color: black;
  font-weight: bold;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}
/* Mobile & Tablet Responsive */
@media screen and (max-width: 768px) {
  .cart-container {
    flex-direction: column;
    padding: 15px;
  }

  .left-section,
  .right-section {
    width: 100%;
  }

  .cart-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .product-image {
    width: 100px;
    margin-bottom: 10px;
  }

  .item-details {
    width: 100%;
  }

  .item-price {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  .action-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .action-buttons button {
    margin-bottom: 10px;
    width: 80%;
  }

  .checkout-btn {
    font-size: 14px;
    padding: 10px;
  }
}
